*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5e5;
    min-height: 100vh;
    border: 1.5px solid black;
}
.content{
    padding: 20px 80px;
}
/*.content{
    max-width: 900px;
    margin: 0 auto;
}*/
.img_container,img{
    width: 100px;
    height: 120px;
}

.img_container{
    border-radius: 50%;
    overflow: hidden;
}
.top_section{
    display: flex;
    justify-content: space-between;
    /*padding: 30px 80px;*/
    align-items: center;
}

.top_section h3{
      text-transform: uppercase;
      font-size: 17px;

}
.top_section h5{
    text-align: end;
    color: rgb(52, 52, 52);
    font-size: 8px;
}

.about_section h2{
    font-size: 15px;
    margin-top: 20px;
    color: rgb(52, 52, 52);
}
.about_section p{
    font-size: 7px;
    line-height: 8px;
    text-align: justify;

}

.drama h4{
    font-size: 9px ;
    margin-top: 20px;
    color: rgb(52, 52, 52);
}
.drama li{
    margin-left: 15px;
    font-size: 7px;
    line-height: 8px;
}
footer p{
    text-align: end;
    font-size: 5px;
    margin-top: 10px;
}